/* Portfolio.css */

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.portfolio-sections {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}
.portfolio-names{
    position: relative;
}


.portfolio-names p:first-child {
    font-size: 80px;
    font-weight: 600;
}
.portfolio-names img {
    position: absolute;
    top: 30px;
    right: 0;
    left: 45%;
    z-index: -1;
}

.portfolio-names p:last-child {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #fff;
}

.portfolio-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 350px;
    text-align: center;
}

.portfolio-card:hover {
    transform: translateY(-10px);
}

.portfolio-card img {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-card div {
    padding: 10px;
}

.portfolio-card button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.portfolio-card button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .portfolio{
        gap: 80px;
        margin: 50px 70px;
        align-items: center;
    }
    .portfolio p:first-child{
        font-size: 50px;
        padding: 0;
    }
    .portfolio-names img{
        top: 18px;
        left: 240px;
        width: 130px;
    }
    .portfolio p:last-child{
        font-size: 20px;
        margin-bottom: 28px;
    }
    .portfolio-cards{
       flex-direction: column;

    }
    .portfolio-card {
        position: relative;
        left: 15%;
        height: 300px;
        width: 400px;
    }
}
